/* style.css */
body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}
video, canvas {
  width: 640px;
  height: 480px;
  border: 2px solid #00ffcc;
}
